{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },

  "globals":{
    "sinon": true,
    "chai": true,
    "expect": true,
    "observable": true
  },
  "rules":{
    "fp/no-mutating-methods": 0,
    "fp/no-rest-parameters": 0,
    "fp/no-proxy": 0
  }
}